/*=======================================
 Common CSS
========================================*/

img {
  max-width: 100%;
}


/*=======================================
 Header Area Style
========================================*/
#header_area {
  padding: 15px 0;
}
