/* ==========================================================================
   Medium Layout: 1280px.
   ========================================================================== */
@media only screen and (min-width: 200px) and (max-width: 1200px) {
  #service_area {
    padding: 20px 0;
  }
  #service_area .child_service h2,
  .child_sidebar h2,
  .child_sidebar .wp-block-search__label,
  #body_area .post_details h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  #footer .col-md-4 img {
    max-width: 150px;
  }
}
/* ==========================================================================
   Tablet Layout: 768px. 
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header_area .col-md-9 ul li a {
    padding: 5px 10px;
    font-size: 14px;
  }
}
/* ==========================================================================
   Wide Mobile Layout: 480px.
   ========================================================================== */
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .slicknav_menu {
    display: block;
  }
  #header_area .col-md-9 {
    display: none;
  }
  #service_area .child_service {
    margin-bottom: 20px;
  }
  #body_area {
    padding: 20px 0;
  }
}
