/*=======================================
 Common CSS
========================================*/
body {
  font-family: "Kaisei Decol", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  line-height: 1.5em;
}
img {
  max-width: 100%;
}

/*=======================================
 Header Area Style
========================================*/
#header_area {
  padding: 15px 0;
}

#header_area .col-md-9 ul {
  font-family: "Oswald", sans-serif;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
#header_area .col-md-9 ul li {
  display: inline-block;
  position: relative;
}
#header_area .col-md-9 ul li a {
  color: #262626;
  padding: 20px 10px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
#header_area .col-md-9 ul li a:hover {
  background: #ea1a70;
  color: #fff;
}

/*Dropdown Menu*/
#header_area .col-md-9 ul li ul {
  background: #262626 none repeat scroll 0 0;
  left: -99999px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 62px;
  width: 200px;
}
#header_area .col-md-9 ul li:hover ul {
  left: 0px;
}
#header_area .col-md-9 ul li ul li {
  display: block;
}
#header_area .col-md-9 ul li ul li a {
  color: #fff;
  padding: 8px 10px;
}
#header_area .col-md-9 ul li ul li a:hover {
  background: #ddd;
  color: #262626;
}
#header_area .col-md-9 ul li:hover a {
  background: #ea1a70;
  color: #fff;
}
#header_area .col-md-9 ul li:hover ul li a {
  background: none;
  color: #fff;
}

/*Sub Dropdown Menu*/
#header_area .col-md-9 ul li ul ul {
  left: -99999px;
  top: 0;
  position: absolute;
}
#header_area .col-md-9 ul li:hover ul li ul {
  left: -999999px;
}
#header_area .col-md-9 ul li ul li:hover ul {
  left: 200px;
}
#header_area .col-md-9 ul li ul li:hover a {
  background: #ea1a70;
  color: #fff;
}
#header_area .col-md-9 ul ul li:hover ul li a {
  background: #262626;
  color: #fff;
}
#header_area .col-md-9 ul ul li ul li a:hover {
  background: #ea1a70;
  color: #fff;
}

/*===========================================
  Menu Position
===========================================*/
#header_area.left_menu .col-md-3 {
  order: 2;
}
#header_area.left_menu .col-md-9 {
  order: 1;
}
#header_area.left_menu .col-md-9 ul {
  text-align: left;
}

#header_area.center_menu .col-md-3 {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
#header_area.center_menu .col-md-9 {
  width: 100%;
}
#header_area.center_menu .col-md-9 ul {
  text-align: center;
}
